<mat-toolbar style="background-color: #1976d2;">
  <a routerLink="/" class="logo">Fürdőruha Webshop</a>
  
  <button mat-raised-button color="basic" class="nav-button" routerLink="/products">Termékek</button>
  
  <span class="spacer"></span>
  
  <div class="auth-buttons">
    <button mat-raised-button color="basic" class="nav-button" routerLink="/login">Bejelentkezés</button>
    <button mat-raised-button color="basic" class="nav-button" routerLink="/register">Regisztráció</button>
    
    <button mat-raised-button color="accent" class="nav-button cart-button" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="cartItemCount > 0" class="cart-count">{{ cartItemCount }}</span>
    </button>
  </div>
</mat-toolbar>